:root {
  --primary-color: #e5ae32;   /* FIRST 2024 - 2025 Season Theme Color */
  --secondary-color: #ff8100; /* FIRST Tech Challenge Color */
  --seasonal-theme-color: #92dbac; /* FIRST 2023 - 2024 Season Theme Color */
  --seasonal-secondary-color: #ea572e;
  --seasonal-tertiary-color: #598290;
  --white-color: #FFFFFF;
  --black-color: #231F20;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-white {
  background-color: var(--white-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-seasonal-theme {
  color: var(--seasonal-theme-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.text-black {
  color: var(--black-color) !important;
}

.text-seasonal-secondary {
    color: var(--seasonal-secondary-color) !important;
}

.text-seasonal-tertiary {
    color: var(--seasonal-tertiary-color) !important;
}

.navbar-toggler {
  padding: 0;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: none;
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.nav-link.active {
  text-decoration: underline 3px #ff8100;
}

.nav-link:hover {
  text-decoration: underline 3px #ff8100;
}

.text-justify {
  text-align: justify;
}

/* Dropdown menu */
.dropdown .dropdown-menu.big-menu {
  transition: all 0.4s;

  max-height: 0;
  display: block;
  overflow: hidden;
}

.dropdown-menu.big-menu {
  top: 100%;
  left: 0;
  margin-top: 0 !important;
}

.dropdown-menu.big-menu.show { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
  max-height: 500px;
  opacity: 1;
}

.btn.btn-white, .btn.btn-white:hover, .btn.btn-white:focus {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--white-color);
}

.btn.btn-black, .btn.btn-black:hover, .btn.btn-black:focus {
  background-color: var(--black-color);
  color: var(--primary-color);
  border: 1px solid var(--black-color);
}

.btn.btn-outline-white, .btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.btn.btn-outline-white, .btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background-color: transparent;
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
